@media screen and (max-width: 600px)
body {
	background: rgba(161, 187, 240, 0.24)

}

header img {

    float: left;
    width: 50%;
    height: 35%;
}
img  {
    float: right;
    width: 65%;
    height: 55%;
}

main {
    text-align: center;
}

#navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid rgb(252, 254, 255);
        border-radius: 20px 20px;
        width: 100%;
        text-align: center;
        background-color: rgb(159, 159, 245);
      }
#navbar li { display: inline; }
#navbar a {
        color: rgb(10, 8, 8);
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 30%;
        text-align: center;
       font: normal 24px arial;
      }
#navbar a:hover {
        border-radius: 20px 20px;
        background-color: rgb(222, 231, 166);
      }
#buttons {
       margin: 7px;
       padding: 15px ;
       width: 260px;
       height: 20%;
       border-radius: 20px 20px;
       background-color: rgb(124, 166, 228);
       text-align: center;
       font: normal 24px arial;
}
#mail {text-align: center;
       font: normal 24px arial;}
