

header img {
    float: left;
    width: 50%;
    height: 35%;
}

img {
    width: 65%;
    height: 55%;
}

main {
    text-align: center;
}

#navbar {
    margin: 20px;
    padding: 20px;
    list-style-type: none;
    border: 2px solid rgb(252, 254, 255);
    border-radius: 30px 30px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#navbar li {
    display: inline;
}

#navbar a {
    color: rgb(10, 8, 8);
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 30%;
    text-align: center;
    font: normal 24px arial;
}

#navbar a:hover {
    border-radius: 20px 20px;
    background-color: rgb(119, 133, 255);
}

#buttons {
    margin: 7px;
    padding: 15px ;
    width: 260px;
    height: 20%;
    border-radius: 20px 20px;
    background-color: rgb(119, 133, 255);
    text-align: center;
    font: normal 24px arial;
}

#mail {
    text-align: center;
    font: normal 24px arial;
}

h3 {
    text-align : center;
    font: normal 32px arial;
}

#man {
    margin: 10px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

#footer {
    left: 0;
    bottom: 0;
    padding: 0px;
    background: #ffffff;
    color: rgb(27, 26, 26);
    text-align: center;
    width: 100%;
}

.block1 {
    background: #ccc;
    padding: 10px;
    border: solid 1px black;
    width: 80%;
    height: 40%;
}

div img {
    width: 40%;
    height: 40%;
    float: left;
}
.block1 img{
    height: 200px;
    width: 200px;
}