@media screen and (max-width: 600px)
#nob{}

header img {
    float: left;
    width: 50%;
    height: 35%;
}
img  {
    float: right;
    width: 65%;
    height: 55%;
}

main {
    text-align: center;
}

#navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid rgb(252, 254, 255);
        border-radius: 20px 20px;
        width: 100%;
        text-align: center;
        background-color: rgb(255, 255, 255);
      }
#navbar li { display: inline; }
#navbar a {
        color: rgb(10, 8, 8);
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 30%;
        text-align: center;
        font: normal 24px arial;
      }
#navbar a:hover {
        border-radius: 20px 20px;
        background-color: rgb(119, 133, 255);
      }
#buttons {
       margin: 7px;
       padding: 15px ;
       width: 260px;
       height: 20%;
       border-radius: 20px 20px;
       background-color: rgb(119, 133, 255);
       text-align: center;
       font: normal 24px arial;
}
#mail {
       text-align: center;
       font: normal 24px arial;
}
h3 {
       text-align : center;
       font: normal 32px arial;
}
#man {
	margin: 10px;
    background: rgb(255, 255, 255);
    padding: 20px;
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */